.CalendarDay__selected_span {
  background: #82e0aa; /*//background*/
  color: white; /* //text */
  /*border: 1px solid $light-red;*/ /*//default styles include a border*/
}
 
/* // Will edit selected date or the endpoints of a range of dates */
.CalendarDay__selected {
  /* background: $dark-red; */
  color: white;
}
 
/* // Will edit when hovered over. _span style also has this property */
.CalendarDay__selected:hover {
  background: orange;
  color: white;
}
 
/* // Will edit when the second date (end date) in a range of dates
// is not yet selected. Edits the dates between your mouse and said date */
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: brown;
}
.DateRangePickerInput__withBorder {
  border-radius: 1px;
  border: 1px solid #dbdbdb;
  margin-left: -455px;
  font-size: 10px;
  width: 30px;
  margin-top: 40px;

}


.DateInput {
    margin-left:  500px;
    margin-top: -0px;
    width: 60px
  }

  .DateInput_input {
    font-weight: 200;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    background-color: #fff;
    width: 100%;
    padding: 11px 11px 9px;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid transparent;
    border-left: 0;
    border-radius: 0;
}