body{
    background-color: #FFE6BA ;
    font-family: 'Kanit', sans-serif;
    background-image: url('../img/tac.jpg');

};
.header {
    color: aliceblue;
    margin-Top : -60; margin-Left : 700; background-Color : 'black'
  }
